button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    padding: 0; /* ลบค่า padding หากต้องการ */
    width: 100%; /* กำหนดขนาดปุ่มให้เต็มที่ */
    height: 100%; /* กำหนดความสูงปุ่ม */
}

.box {
    width: 180px; /* เพิ่มความกว้างของกรอบ */
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 20px; /* เพิ่มค่า padding ให้กรอบยืดออก */
    text-align: center;
    margin: 0; /* ลบ margin เพื่อลบพื้นที่รอบนอก */
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px; /* ขนาดฟอนต์ที่ลดลง */
}

.box:before, .box:after {
    position: absolute;
    content: '';
    width: 100%;
    box-sizing: border-box;
    border-color: transparent;
}

.box:before {
    left: 0;
    bottom: 0;
    height: 4px;
    border-bottom: 4px solid;
    border-left: 4px solid;
    transform: translateX(100%);
}

.box:after {
    top: 0;
    left: 0;
    height: 4px;
    border-top: 4px solid;
    border-right: 4px solid;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}




 

 .heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
  }
  
  .heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
  }
  
  .heading_container h2 span {
    color: #f7444e;
  }
  
  .heading_container p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.75rem;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.667;
    --bs-btn-color: #ffffff;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: all 0.15s ease-in;
  }
  
  .btn-outline-dark {
    --bs-btn-color: #344767;
    --bs-btn-border-color: #344767;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #344767;
    --bs-btn-hover-border-color: #344767;
    --bs-btn-focus-shadow-rgb: 52, 71, 103;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #344767;
    --bs-btn-active-border-color: #344767;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #344767;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #344767;
    --bs-gradient: none;
  }
  
  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: rgba(0, 0, 0, 0.125);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bs-card-inner-border-radius: 0.75rem;
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
  }
  
  .card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .bg-gradient-primary {
    background-image: linear-gradient(195deg,  #000000 0%,  #000000 100%);
  }
  
  .icon-shape {
    width: 48px;
    height: 48px;
    background-position: center;
    border-radius: 0.5rem;
  }
  
  .icon-shape i {
    color: #fff;
    opacity: 0.8;
    top: 11px;
    position: relative;
  }
  
  .font-weight-bolder {
    font-weight: 700 !important;
  }
  
  .timeline-block {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  .timeline-step {
    background-color: #000000;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .timeline-content {
    flex: 1;
  }
  
  .icon-with-text {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .icon-with-text i {
    margin-right: 0.10rem; 
  }
  


  
  