
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMV6v63VjWfqz7ioTx2GfB2A56Lpy39AgD03aIG" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gray-300 shadow-lg border-radius-lg pt-4 pb-3">
              <h6 class="text-black text-capitalize ps-3">จัดการสินค้า</h6>
            </div>
          </div>
          
          <div class="mt-4">
            <div class="row">
              <div class="col-6 d-flex align-items-center">
              </div>
              <div class="col-6 text-end">
                <button class="button" [routerLink]="['/product']">
                  <svg
                    id="UploadToCloud"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    height="16px"
                    width="16px"
                    class="icon"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path
                      class="color000000 svgShape"
                      fill="#000000"
                      d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l4.65-4.65c.2-.2.51-.2.71 0L17 13h-3z"
                    ></path>
                  </svg>
                  Upload product
                </button>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">รูปสินค้า</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">รายละเอียดสินค้า</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ประเภทสินค้า</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ราคา</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">จำนวน</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productList">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img *ngFor="let productImg of product.imgList" [src]="productImg" 
                          class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{product.productName}}</h6>
                        <p class="text-xs text-secondary mb-0">{{product.productDesc}}</p>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{null != product.productType[0] ? product.productType[0].productTypeName : ''}}</p>
                      <p class="text-xs text-secondary mb-0">{{null != product.productType[0] ? product.productType[0].productTypeDesc: ''}}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-secondary text-xs font-weight-bold">{{product.productPrice}}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{product.productStock}}</span>
                    </td>
                    <td class="align-middle text-center">
                      <button class="btn btn-warning me-2" (click)="onUpdateProduct(product.productId)">
                        <i class="fa-regular fa-pen-to-square"></i>
                      </button>
                      <button class="btn btn-danger ms-2" (click)="onDeleteProduct(product.productId)">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
