 <div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col"><h4><b>Checkout</b></h4></div>
        </div>
      </div>    
      <div class="city-postal-row">
        <div class="city-postal-group">
          <label for="city">First Name</label>
          <input type="text" id="city" name="city" placeholder="first name" class="city-input"/>
        </div>
        <div class="city-postal-group">
          <label for="postalcode">Last Name</label>
          <input type="text" id="postalcode" name="postalcode" placeholder="phone" class="city-input"/>
        </div>
        <div class="city-postal-group">
          <label for="postalcode">Phone</label>
          <input type="text" id="postalcode" name="postalcode" placeholder="last name" class="city-input"/>
        </div>
      </div>
      <div class="city-postal-row">
        <div class="city-postal-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" placeholder="City" class="city-input"/>
        </div>
        <div class="city-postal-group">
          <label for="postalcode">Postal code</label>
          <input type="text" id="postalcode" name="postalcode" placeholder="Postal code" class="city-input"/>
        </div>
        <div class="city-postal-group">
          <label for="city">Province</label>
          <input type="text" id="city" name="country" placeholder="province" class="city-input"/>
        </div>
      </div>
      <label  for="Textarea1" class="form-label">Address</label>
      <textarea class="form-control" id="Textarea1" rows="3"></textarea>
      <div class="back-to-shop">
        <a href="cart">&leftarrow;</a><span class="text-muted">Back to cart</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" src="https://i.pinimg.com/736x/42/3c/42/423c42b63efeb46fdf21338be0debf4f.jpg">
        </div>
        <div class="col-8">
          <div class="row text-muted">Shirt</div>
          <div class="row">Cotton T-shirt</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col" style="padding-left:0;">ITEMS 1</div>
        <div class="col text-right">฿ 44.00</div>
      </div>
      <form>
        <p>SHIPPING</p>
        <select>
          <option class="text-muted">Standard-Delivery- free</option>
        </select>
      </form>
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">฿ 44.00</div>
      </div>
      <br>
      <a href="checkout" class="purchase-button" data-content="PAYMENT">PAYMENT</a>
    </div>
  </div>
</div> 



